<section *ngIf="cargada" id="contact_sec" #contact_sec class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad-top sec-pad-bottom-sm">
  <h6>Contacto</h6>
  <!-- Alert -->
  <div *ngIf="mostrarAlert" class="alert" [ngClass]="{ 'alert-success': resultado, 'alert-danger' : !resultado }" role="alert">
    <span *ngIf="resultado" >Mensaje enviado correctamente</span>
    <span *ngIf="!resultado">No se ha podido enviar el mensaje</span>
    <button type="button" class="close" (click)="ocultarAlert()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="align-center wow fadeInUp" data-wow-duration=".4s">
    <h3>{{ texto }}</h3>
    <div>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group input--hoshi col-sm-6" [ngClass]="{ 'is-invalid': submitted && f.nombre?.errors }">
          <div class="input-wrap">
            <input formControlName="nombre" #nombre (input)="setTexto(nombre.value)" autocomplete="off" type="text" class="form-control input__field input input__field--hoshi" id="nombre" name="nombre" placeholder="Nombre" maxlength="30" required>
            <label class="input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1" ></label>
          </div>
          <div *ngIf="submitted && f.nombre?.errors" class="invalid-feedback">
              <div *ngIf="f.nombre?.errors.required">El nombre es obligatorio</div>
          </div>
        </div>

        <div class="form-group  input--hoshi col-sm-6" [ngClass]="{ 'is-invalid': submitted && f.email?.errors }">
          <div class="input-wrap">
            <input formControlName="email" autocomplete="off" type="email" class=" form-control input input__field input__field--hoshi" placeholder="Email" name="email" required>
            <label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
          </div>
          <div *ngIf="submitted && f.email?.errors" class="invalid-feedback">
              <div *ngIf="f.email?.errors.required">El email es obligatorio</div>
              <div *ngIf="f.email?.errors.email">El email debe ser una dirección de email válida</div>
          </div>
        </div>

        <div class="form-group  input--hoshi col-sm-12" [ngClass]="{ 'has-error': mensaje?.invalid && submitted }">
          <div class="input-wrap">
            <textarea formControlName="mensaje" #mensaje class="form-control input input__field input__field--hoshi" rows="4"name="mensaje" placeholder="Mensaje" required></textarea>
            <label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
          </div>
          <div *ngIf="submitted && f.mensaje?.errors" class="invalid-feedback">
              <div *ngIf="f.mensaje?.errors.required">El mensaje es obligatorio</div>
          </div>
        </div>
        <div class="form-group col-sm-12">
          <div class="align-center">
            <button type="submit" class="btn btn-default" [disabled]="enviandoMensaje">
            <span class="mask"></span>
            <span *ngIf="!enviandoMensaje">Enviar mensaje</span>
            <span *ngIf="enviandoMensaje">Espere por favor...</span>
            <i *ngIf="enviandoMensaje" class="fa fa-refresh fa-spin iconCargando"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Fondo Transparente -->
  <div *ngIf="enviandoMensaje" class="fondoTransparente"></div>


  <div class="email-direct">
    <p data-wow-duration=".4s">O simplemente escríbeme a <a href="mailto:{{ emailContacto }}" target="_blank">{{ emailContacto }}</a></p>
  </div>
</section>

<hr class="separater-hr"/>
