<header *ngIf="cargada">
  <div class="header-wrap col-lg-10 center-div">
    <div class="float-left name">
      <a data-scroll href="#body">
        <span>
          {{ titulo }}
        </span>
      </a>
    </div>

    <div class="float-right social-download-wrap">
      <a (click)="ir_contacto()" class="btn btn-default float-left">
        <span class="mask"></span>
        <span class="btn-label">
          <b>{{ textoBoton }}</b>
          <span class="icon pe-7s-mail"></span>
        </span>
      </a>
    </div>
  </div>
  <div class="clearfix"></div>
</header>
