<header>
  <div class="header-wrap col-lg-10 center-div">
    <div class="float-left name">
      <a data-scroll href="#body">
        <span>
          Miguel Pérez - Web personal
        </span>
      </a>
    </div>

    <div class="float-right social-download-wrap">
      <a href="#contact_sec" class="btn btn-default float-left">
        <span class="mask"></span>
        <span class="btn-label">
          <b>Contáctame</b>
          <span class="icon pe-7s-mail"></span>
        </span>
      </a>
    </div>
  </div>
  <div class="clearfix"></div>
</header>
