<section id="skill_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap  sec-pad-top sec-pad-bottom-xs">
  <h6>Habilidades técnicas</h6>
  <p class="wow fadeInUp" data-wow-duration=".4s">
    Como desarrollador Full Stack, considero imprescindible el conocimento de todas las partes de las que se compone el desarrollo de una aplicación. Es por ello que aunque en mis inicios me especialicé en el desarrollo de la parte Backend, en los últimos años he priorizado el conocimento de la parte FrontEnd para tener un conocimiento más completo, de forma que me permita ampliar la ventana de posibles proyectos a poder desarrollar.
  </p>
  <div class="row margin-top-40">
    <div class="col-sm-5 margin-bottom-sm">
      <span class="progress-cat">JAVA</span>
      <div class="progress-bar-graph">
        <div class="progress-bar-wrap">
          <div class="bar-wrap">
            <span data-width="95">
              <strong><i>95</i>%</strong>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
      <span class="progress-cat">SPRING MVC & WEBFLOW</span>
      <div class="progress-bar-graph">
        <div class="progress-bar-wrap">
          <div class="bar-wrap">
            <span data-width="85">
              <strong><i>85</i>%</strong>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-5 margin-bottom-sm">
      <span class="progress-cat">ANGULAR 8</span>
      <div class="progress-bar-graph">
        <div class="progress-bar-wrap">
          <div class="bar-wrap">
            <span data-width="72">
              <strong><i>72</i>%</strong>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
      <span class="progress-cat">IONIC 4</span>
      <div class="progress-bar-graph">
        <div class="progress-bar-wrap">
          <div class="bar-wrap">
            <span data-width="83">
              <strong><i>83</i>%</strong>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-5 margin-bottom-sm">
      <span class="progress-cat">HTML 5</span>
      <div class="progress-bar-graph">
        <div class="progress-bar-wrap">
          <div class="bar-wrap">
            <span data-width="90">
              <strong><i>90</i>%</strong>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
      <span class="progress-cat">CSS 3</span>
      <div class="progress-bar-graph">
        <div class="progress-bar-wrap">
          <div class="bar-wrap">
            <span data-width="70">
              <strong><i>70</i>%</strong>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-5 margin-bottom-sm">
      <span class="progress-cat">JAVASCRIPT</span>
      <div class="progress-bar-graph">
        <div class="progress-bar-wrap">
          <div class="bar-wrap">
            <span data-width="94">
              <strong><i>94</i>%</strong>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
      <span class="progress-cat">ANGULAR JS</span>
      <div class="progress-bar-graph">
        <div class="progress-bar-wrap">
          <div class="bar-wrap">
            <div class="bar-wrap">
              <span data-width="84">
                <strong><i>84</i>%</strong>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-5 margin-bottom-sm">
      <span class="progress-cat">BOOTSTRAP 4</span>
      <div class="progress-bar-graph">
        <div class="progress-bar-wrap">
          <div class="bar-wrap">
            <span data-width="70">
              <strong><i>70</i>%</strong>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
      <span class="progress-cat">JQUERY</span>
      <div class="progress-bar-graph">
        <div class="progress-bar-wrap">
          <div class="bar-wrap">
            <div class="bar-wrap">
              <span data-width="91">
                <strong><i>91</i>%</strong>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-5 margin-bottom-sm">
      <span class="progress-cat">SQL</span>
      <div class="progress-bar-graph">
        <div class="progress-bar-wrap">
          <div class="bar-wrap">
            <span data-width="90">
              <strong><i>90</i>%</strong>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
      <span class="progress-cat">PHP</span>
      <div class="progress-bar-graph">
        <div class="progress-bar-wrap">
          <div class="bar-wrap">
            <span data-width="65">
              <strong><i>65</i>%</strong>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-5 margin-bottom-sm">
      <span class="progress-cat">JUNIT & MOCKITO</span>
      <div class="progress-bar-graph">
        <div class="progress-bar-wrap">
          <div class="bar-wrap">
            <span data-width="85">
              <strong><i>85</i>%</strong>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
      <span class="progress-cat">GIT</span>
      <div class="progress-bar-graph">
        <div class="progress-bar-wrap">
          <div class="bar-wrap">
            <span data-width="94">
              <strong><i>94</i>%</strong>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-5 margin-bottom-sm">
      <span class="progress-cat">SUBVERSION</span>
      <div class="progress-bar-graph">
        <div class="progress-bar-wrap">
          <div class="bar-wrap">
            <span data-width="98">
              <strong><i>98</i>%</strong>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
      <span class="progress-cat">SCRUM DEVELOPER</span>
      <div class="progress-bar-graph">
        <div class="progress-bar-wrap">
          <div class="bar-wrap">
            <span data-width="100">
              <strong><i>100</i>%</strong>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="icon-tech">
      <img src="img/angular.svg" alt="">
      <img src="img/bootstrap4.svg" alt="">
      <img src="img/html5.svg" alt="">
      <img src="img/css3.svg" alt="">
      <img src="img/javascript.svg" alt="">
      <img src="img/jquery-alt.svg" alt="">
      <img src="img/nodejs.svg" alt="">
      <img src="img/php.svg" alt="">
    </div>
  </div>
</section>
