<section id="intro_content_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div intro-content-wrap sec-pad">
  <div class="row">
    <div class="person-img margin-bottom-xs col-sm-4"></div>
    <h1 class="col-sm-8">
      ¡Hola!<span id="typed"></span>
    </h1>
  </div>
  <h6>
    Sobre mí
  </h6>
  <p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s">
    Me considero una persona extrovertida y muy familiar. Me gusta el deporte y la música, todo lo relacionado con la tecnología, viajar por el mundo y por supuesto disfrutar de cualquier momento con mis amigos.
  </p>
  <p class="wow fadeInUp" data-wow-duration=".4s">
     Creo que tengo la suerte de trabajar en mi hobby principal, que es la programación de aplicaciones informáticas. Considero que no tengo ningún problema para desenvolverme en el trabajo en equipo y cuento con una amplia experiencia trabajando en metodologías ágiles como el Scrum.
  </p>
  <div class="per-signature margin-top-sm wow fadeInUp" data-wow-duration=".4s">
    <img class="img-responsive" src="assets/img/signature.png" alt="signature"/>
  </div>
</section>

<hr class="separater-hr"/>
