<section id="services_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div services-icon-wrap  sec-pad-top sec-pad-bottom-xs">
  <h6>Servicios que realizo</h6>
  <div class="row">
    <div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay="0s">
      <span class="icon pe-7s-graph3"></span>
      <span class="key-fact">
        ANÁLISIS
      </span>
    </div>
    <div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".1s">
      <span class="icon pe-7s-browser"></span>
      <span class="key-fact">
        PROGRAMACIÓN
      </span>
    </div>
    <div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".2s">
      <span class=" icon pe-7s-tools"></span>
      <span class="key-fact">
        TESTING
      </span>
    </div>
    <div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".3s">
      <span class="icon pe-7s-note2"></span>
      <span class="key-fact">
        DOCUMENTACIÓN
      </span>
    </div>
  </div>
</section>

<hr class="separater-hr"/>
