<div class="fixed-bg"></div>
<div class="fixed-bg-overlay"></div>

<div id="pre_load" class="preloader-it">
  <div id="la_anim" class="la-anim-1"></div>
</div>

<div class="container-fluid">
  <div class="row">

    <app-navigation></app-navigation>

    	<div class="col-lg-8 col-xs-12 pad-zero">

        <app-header></app-header>

        <div id="main_content" class="content-block margin-top-150 margin-top-sm-70 margin-top-xs-50">

            <app-intro></app-intro>

            <hr class="separater-hr"/>

            <app-services></app-services>

            <hr class="separater-hr"/>

            <app-skills></app-skills>

            <hr class="separater-hr"/>

            <app-formacion></app-formacion>

            <hr class="separater-hr"/>

            <app-experiencia></app-experiencia>

            <hr class="separater-hr"/>

            <app-clientes></app-clientes>

            <hr class="separater-hr"/>

            <app-contacto></app-contacto>

            <hr class="separater-hr"/>

            <app-footer></app-footer>

        </div>
      </div>
	</div>
</div>
