<section id="edu_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div education-wrap  sec-pad">
  <h6>Formación</h6>
  <p class="wow fadeInUp" data-wow-duration=".4s">
    Estudié durante cuatro años en la Universidad de Jaén. Sin embargo, el grado que estaba estudiando no era lo que a mí me hubiese gustado y desde pequeño mi verdadera pasión era todo lo relacionado con los ordenadores y la programación. Por tanto, finalmente decidí empezar de cero e irme a Madrid a estudiar un grado superior que me diese los conocimientos que realmente deseaba.
  </p>
  <div class="qualfication-wrap">
      <div *ngFor="let formacion of formaciones; let i = index" [ngClass]="{'first-row': i==0}" class="qualfication wow fadeInUp" data-wow-duration=".4s">
        <div class="col-sm-2">
          <span class="row-count"><span>{{ i + 1 }}</span></span>
        </div>
        <div class="col-sm-2">
          <span class="yr-pers vertical-align-pad">{{ formacion.duracion }}</span>
        </div>
        <div class="col-sm-5">
          <span class="insti vertical-align-pad">{{ formacion.lugar }}</span>
        </div>
        <div class="col-sm-3">
          <span class="design vertical-align-pad">
            {{ formacion.titulacion }}
          </span>
        </div>
      </div>
</div>
</section>

<hr class="separater-hr"/>
