<div id="vertical_nav_wrap" class="col-lg-4 col-xs-12 pad-zero vertical-nav-wrap">
  <nav class="navbar navbar-default vertical-nav" role="navigation">
    <div class="navbar-header">
      <button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse"
       data-target="#navbar_collapse">
       <span class="mask"></span>
       <span class="btn-label">
        <span class="pe-7s-menu"></span>
       </span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar_collapse">
      <ul class="nav navbar-nav">
        <li><a data-scroll href="#body"></a><span>Inicio</span></li>
        <li><a data-scroll href="#services_sec"></a><span>Servicios</span></li>
        <li><a data-scroll href="#skill_sec"></a><span>Habilidades</span></li>
        <li><a data-scroll href="#edu_sec"></a><span>Formación</span></li>
        <li><a data-scroll href="#exp_sec"></a><span>Experiencia</span></li>
        <li><a data-scroll href="#client_sec"></a><span>Clientes</span></li>
        <li><a data-scroll href="#contact_sec"></a><span>Contacto</span></li>
      </ul>
    </div>
  </nav>
</div>
