<section id="exp_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div experience-wrap  sec-pad">
  <h6>Experiencia profesional</h6>
  <div class="exp-timeline-wrap">
    <div class="row exp-timeline timeline-active">
      <div class="col-xs-2">
        <div class="timeline-st"></div>
      </div>
      <div class="col-xs-10 exp-content-wrap">
        <div class="row">
          <div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0s">
            <div class="col-sm-3 duration"><span>Junio 2016 - Actualidad</span></div>
            <div class="col-sm-9">
              <span class="job-desn">Desarrollador Full Stack</span>
              <span class="job-loc">Softtek, cliente BBVA, Madrid</span>
              <p class="job-summary p-small">
                Una vez finalicé el periodo de prácticas, me incorporé al cliente BBVA, donde trabajo actualmente.<br>Hasta la fecha he estado en un proyecto de soporte para latinoamérica (LATAM) en la aplicación de banca para empresas BBVA Net Cash. Posteriormente me incorporé a un proyecto de metodología agile, donde realicé evolutivos sobre la agenda de contactos y las transferencias individuales de BBVA Net Cash España. Tras terminar ese proyecto pasé a un proyecto para la aplicación BBVA Net Cash Global.<br>Actualmente me encuentro trabajando en un proyecto agile en el que se están desarrollando las bases en el backend para la futura aplicación que, si todo va bien, sustituirá a la actual BBVA Net Cash.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row exp-timeline">
      <div class="col-xs-2">
        <div class="timeline-st"></div>
      </div>
      <div class="col-xs-10 exp-content-wrap">
        <div class="row">
          <div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.2s">
            <div class="col-sm-3 duration"><span>Abril 2016 — Junio 2016</span></div>
            <div class="col-sm-9">
              <span class="job-desn">Estudiante en prácticas</span>
              <span class="job-loc">Softtek, Madrid</span>
              <p class="job-summary p-small">
                Tras la finalización del Grado Superior en Desarrollo de Apliaciones Multiplataforma, comencé las prácticas en la consultora de software multinacional Softtek. Allí desarrollé junto a otros nueve compañeros una aplicación web de administración de usuarios con las tecnologías de Spring Java, Html, jQuery, css y todo ello a través la metodología Agile de Scrum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
