<section id="exp_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div experience-wrap  sec-pad">
  <h6>Experiencia profesional</h6>
  <div class="exp-timeline-wrap">
    <div *ngFor="let experiencia of experiencias" class="row exp-timeline timeline-active">
      <div class="col-xs-2">
        <div class="timeline-st"></div>
      </div>
      <div class="col-xs-10 exp-content-wrap">
        <div class="row">
          <div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0s">
            <div class="col-sm-3 duration"><span> {{ experiencia.duracion }}</span></div>
            <div class="col-sm-9">
              <span class="job-desn">{{ experiencia.titulo }}</span>
              <span class="job-loc">{{ experiencia.subtitulo }}</span>
              <p class="job-summary p-small"> {{ experiencia.descripcion }} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="separater-hr"/>
