<footer class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad">
  <div class="row">
    <div class="col-sm-12">
      <div class="social-icons-wrap float-right">
        <!--Social Icons-->
        <ul class="social-icons float-right">
          <li>
            <a href="https://www.facebook.com/Miguel106" target="_blank" class="social-icon">
              <span class="fa" data-hover="&#xf09a;">&#xf09a;</span>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/miguelperez-92" target="_blank" class="social-icon">
              <span class="fa" data-hover="&#xf08c;">&#xf08c;</span>
            </a>
          </li>
        </ul>
        <!--/Social Icons-->
      </div>
      <div class="goto-top text-right float-right">
        <a data-scroll href="#body">
          <span data-hover="inicio">
            inicio
          </span>
        </a>
      </div>
      <div class="copywrite-wrap text-right float-right">
        <p class="copywrite"><b>Miguel Pérez Ortega</b> - 2019</p>
      </div>
    </div>
  </div>
</footer>
